@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.rotate_div {
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  bottom: 0;
  margin-left: -10px;
  margin-bottom: -9px;
  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.rotate_container {
  display: block;
  position: relative;
}
